logs
project/project
project/target
project/boot
project/metals.sbt
.metals/
.bloop/
target
tmp
.history
dist
.ensime
.ensime_lucene/
.idea/
.idea_modules/
.DS_Store
*.swp
*.swo
*.pyc
*.iml
tags
project/.boot
project/.ivy
.~*
*~
*.orig
.scala_dependencies
.buildpath
.cache
.target
bin/
.classpath
.project
.settings/
